@model IEnumerable<Web_BanDT.Models.Product>


<h1>Chào mừng đến với cửa hàng điện thoại!</h1>

<p>Danh sách sản phẩm nổi bật:</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                    @Html.ActionLink("Xem chi tiết", "Details", "Products", new { id = item.ProductId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Chỉnh sửa", "Edit", "Products", new { id = item.ProductId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Xóa", "Delete", "Products", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


